.dub
up
.DS_Store
*.lst
dub.selections.json
dub.userprefs
esv.xml
oversettings.ini
settingfiles
messages
other
pictures
docs
fonts
audio
backPictures
gleaned.txt
glean.txt
history.txt
media
wipe
addsnotes.txt
help1.txt